*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilory;
}
html ,body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
    
}
#top-left{
    /* background-color: rgb(226, 154, 60);  */
    padding: 40px;
}

#square{
    height: 25px;
    width: 25px;
    background-color: black;
    rotate: 45deg;
}


#top-right{

    justify-self: right; 
    padding: 18px;
    text-align: right;
}
 #top-right h4{
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600 ;
 }
 #top-right h5{
    font-size: 14px;
    font-weight: 500 ;
    color: #333;

 }
 #top-right h6{
    display: none;
 }




#left-center{
    /* background-color: rgb(145, 222, 51); */
    grid-column: 1 /3;
    padding: 30px;
    
}
#left-center h1{
    font-size: 6vw;
    text-transform: uppercase;
    line-height: 6vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}
#left-center h1:nth-child(2n){
   
    text-align: center;
}
 


#left-bottom{
    /* background-color: purple; */
    grid-column: 1 /3;
    padding: 40px;
}
#left-bottom p{
    width: 70%;
    font-size: 16px;
    font-weight: 500;
    color: #666;
}


#right{
    /* background-color: yellow; */
    grid-row: 1 / 4;
    grid-column: 3;
    padding: 30px;
    padding-right: 130px;
}
#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

#arrow{
    position: absolute;
    top: 50%;
    left: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translate(-50%, -50%);
    background-color: orangered;
    padding: 20px;
    border-radius: 50%;
}
#arrow i{
    font-size: 45px;

}


@media (max-width:600px) {
   
   #main{ 
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 34% 8%;
    
   } 
   
#top-left{
    padding: 20px;
}

#square{
    height: 20px;
    width: 20px;
   
}

#top-right{

    justify-self: right; 
    padding: 10px;
    text-align: right;
}
 #top-right h4{
    display: none;
 }
 #top-right h5{
    display: none;

 }
 #top-right h6{
    display: initial;
    font-size: 35px;
 }



#left-center{
 
    padding:9px 18px;
}
#left-center h1{
    font-size: 14vw;
    line-height: 14vw;
}
#left-center h1:nth-child(2n){
   
    text-align: right;
}
 


#left-bottom{
    padding: 0px 18px;
}
#left-bottom p{
    width: 90%;
    font-size: 12px;
}


#arrow{
    position: absolute;
    top: 53%;
    left: 40%;
    padding: 8px;
    rotate: 90deg;
 
}
#arrow i{
    font-size: 18px;

} 
#right{
    grid-row: 4 ;
    grid-column: 1/4;
    padding: 16px;
    padding-right: 30px;
}
#right video{
    height: 43vh;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}


}
