*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    /* background-color: orangered; */
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

}
#nav-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

}
.gola{
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;

}
#nav-part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
#nav-part-2 h4{
    font-size: 1vw;
    font-weight: 600;

}
#nav-part-2 h4 span{
    color: rgb(126, 126, 126);
    margin-left: 20px;

}
#nav-part-2 h5{
    display: none;
}


#nav2{
    /* background-color: aqua; */
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0 35px;
}
#nav2 h3{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 600;
}

#content{
    height: calc(100% - 140px);
    width: 100%;

}
#text-content{
    height: 45%;
    width: 100%;
    display: flex;
    /* flex-wrap: nowrap; */
    overflow-x: auto;

}
#text-content::-webkit-scrollbar{
   height: 5px;
   
   background-color: transparent;
}
#text-content::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: orangered;

}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 2px solid black; */
}
.elem h1{
    font-size: 8vw;
    font-weight: 300;
    
    
}
#img-content{
    height: 55%;
    width: 100%;
    display: flex;
    overflow-x: auto;
}
#img-content::-webkit-scrollbar{
    display: none;
}
#img-content img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 30%;

}



@media (max-width:600px){
    #nav{
        /* background-color: orangered; */
        height: 40px;
        padding: 0 10px;
        
    }
    #nav-part-1{
        gap: 1px;
    }
    
    .gola{
        height: 15px;
        width: 15px;
        background-color: #000;
        border-radius: 50%;
    
    }
    #nav-part-2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    
    }
    #nav-part-2 h4{
        font-size: 0.7vw;
        font-weight: 600;
        display: none;
    
    }
    #nav-part-2 h4:nth-child(1){
        display: initial;
        margin-right: 15px;
    }
    #nav-part-2 h4 span{
        color: rgb(126, 126, 126);
        margin-left: 10px;
    }

    #nav-part-2 h5{
        display: initial;
    }
    #nav-part-2 h5 i{
        font-size: 25px;
        font-weight: 600;
    }

    #nav2{
        /* background-color: aqua; */
        height: 50px;
        gap: 10px;
        padding: 0 20px;
        justify-content: space-between;
    }
    #nav2 h3{
        font-size: 1vw;
        text-transform: uppercase;
        font-weight: 600;
        color: #444;
    }
    
    #content{
        height: calc(100% - 90px);
        width: 100%;
    
    }
    #text-content{
        height: 25%;
        width: 100%;
        display: flex;
        /* flex-wrap: nowrap; */
        overflow-x: auto;
    
    }
    #text-content::-webkit-scrollbar{
       height: 3px;
       
       background-color: transparent;
    }
    #text-content::-webkit-scrollbar-thumb{
        width: 15px;
        background-color: orangered;
    
    }
    
    .elem{
        flex-shrink: 0;
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    
        /* border: 2px solid black; */
    }
    .elem h1{
        font-size: 15vw;
        font-weight: 100;
        white-space: nowrap;
        
        
    }
    #img-content{
        height: 75%;
        width: 100%;
        display: flex;
        overflow-x: auto;
    }
    #img-content::-webkit-scrollbar{
        display: none;
    }
    #img-content img{
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    

}