*{
    padding: 0;
    margin: 0;
    font-family: 'work sans';
    box-sizing: border-box;
}
 html,body{
   
    height: 100%;
    width: 100%;
 }

 #main{
  
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 60px;
    padding-top: 80px;
   
 }
 #left{
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;

 }
#left h1{
    font-size: 7vw;
    font-weight: 300;
    font-family: work sans;
    line-height: 6vw;

}
#bottom-left{
    height: 40%;
    width: 100%;
}

#color{
    width: fit-content;
    padding: 5px 13px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    align-items: center;
    border: 1px solid black;

}
#color h5{
    font-size: 17px;
    margin-right:10px;
    font-weight: 400;
    padding-right: 15px;

}
#color1{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: brown;
    margin: 3px;

}
#color2{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: rgb(168, 172, 47);

}
#left h2{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 2vw;
}
#left p{
    font-size: 1.2vw;
    line-height: 1.3vw;
    font-weight: 500;
    color: #444;
     width: 70%;
}




 #right{
    /* background-color: aquamarine; */
    height: 90%;
    width: 35%;
    position: relative;

 }

 #right-top{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
 }
 #right h4{
    font-size: 1.1vw;
    font-weight: 500;

 }
 #right h5{
    font-size: 1vw;

 }
 #right h5 i{
    color: gold;
 }
 #right img{
    width: 100%;
    height: 91.3%;
    object-fit: cover;
 }

 #circle{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    right: -17%;
    top: 35%;
    align-items: center;
    justify-content: center;
    display: flex;

 }
 #circle h5{
    font-size: 22px;
    font-weight: 600;
 }
 #rotate{
   position: absolute;
   bottom: 2%;
   rotate: -90deg;
   left: -8%;
   transform-origin: 0 0 ;
   font-size: 1.5vw;
   font-weight: 500;
 }

 @media (max-width:600px) {
   #main{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      padding-top: 30px;
      gap: 70px;

   }
   #left{
      height: fit-content;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 10px;
      gap: 20px;
  
   }
  #left h1{
      font-size: 14vw;
      font-weight: 500;
      font-family: work sans;
      line-height: 14vw;
  
  }
  #bottom-left{
      /* height: 40%; */
      width: 100%;
  }
  
  #color{
      width: fit-content;
      padding: 4px 8px;
      display: flex;
      justify-content: center;
      border-radius: 40px;
      align-items: center;
      border: 1px solid black;
  
  }
  #color h5{
      font-size: 12px;
      margin-right:5px;
      font-weight: 400;
      
      padding-right: 15px;
  }
  #color1{
     width: 10px;
     height: 10px;
      border-radius: 50%;
      background-color: brown;
      margin: 3px;
  
  }
  #color2{
     width: 10px;
     height: 10px;
      border-radius: 50%;
      background-color: rgb(168, 172, 47);
  
  }
  #left h2{
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 5vw;
  }
  #left p{
      font-size: 3vw;
      line-height: 3.1vw;
      font-weight: 500;
      color: #444;
       width: 85%;
  }
  
  
  
  
   #right{
      /* background-color: aquamarine; */
      height: 50%;
      width: 93%;
      position: relative;
      display: flex;
      flex-direction: column-reverse;
  
   }
  
   #right-top{
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* padding-right: 15px; */
   }
   #right h4{
      font-size: 16px;
      /* font-weight: 500; */
  
   }
   #right h5{
      font-size: 1.2vw;
  
   }

   #right img{
      width: 100%;
      height: 90%;
      object-fit: cover;
      border-radius: 5px;
   }
  
   #circle{
      position: absolute;
      height: 90px;
      width: 90px;
      border-radius: 50%;
      background-color: #333;
      color: white;
      right: -10%;
      top: -10%;
      align-items: center;
      justify-content: center;
      display: flex;
  
   }
   #circle h5{
      font-size: 14px;
      font-weight: 600;
   }
   #rotate{
      position: absolute;
      top: -10%;
      rotate: 0deg;
      left: 0%;
      /* transform-origin: 0 0 ; */
      font-size: 6vw;
      font-weight: 500;
      
  
   }
   
 }